@font-face {
  font-family: 'Honey Script';
  src: url('../fonts/HoneyScript-Light.woff2') format('woff2'), url('../fonts/HoneyScript-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

html {
  height: 100.1%;
}

body {
  height: 100.1%;
  background: #000 url(../img/guacamole.jpg) no-repeat 0 0;
  background-size: cover;
}

.page-info {
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  text-align: center;
}

.page-info h1 {
  color: #fff;
  font-size: 5em;
  margin: 0;
  font-family: "Honey Script";
  font-weight: normal;
}

.page-info div {
  color: #fff;
  font-size: 1.2em;
  margin-top: -20px;
  font-family: "Honey Script";
  font-weight: 600;
}